@model AutoGreeter.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">CreatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">UpdatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">TwitterHandle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TwitterHandle)
    </div>

    <div class="display-label">FacebookHandle</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FacebookHandle)
    </div>

    <div class="display-label">Salt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Salt)
    </div>

    <div class="display-label">PasswordHash</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PasswordHash)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
