@model AutoGreeter.Models.GreetingTarget

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>GreetingTarget</legend>

    <div class="display-label">TargetAddress</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetAddress)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Username)
    </div>

    <div class="display-label">CreatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">UpdatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
