@model AutoGreeter.Models.UserSession

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UserSession</legend>

    <div class="display-label">Token</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Token)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.Username)
    </div>

    <div class="display-label">Username</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Username)
    </div>

    <div class="display-label">CreatedAt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">LastLoginTimestamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginTimestamp)
    </div>

    <div class="display-label">ExpirationTimestamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpirationTimestamp)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
